[Unit]
Description=Display a percentage for the pihole on the
After=network.target

[Service]
Type=idle
ExecStart={python3} {directory}/pihole_stat_rainbow_hat.py

[Install]
WantedBy=multi-user.target